.list-controls {
  display: flex;
  flex-direction: row;
}

.list-controls__list {
  flex: 2;
}

.list-controls__controls {
  flex: 1;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}